*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face
{
  font-family: 'Caveat';
  src: url('../fonts/Caveat.ttf');
}

.main
{
  margin: 3% auto;
  padding: 15px 20px 30px 20px;
  width: 65%;
  background-color: #fff8dc;
  border: 2px solid sienna;
  box-shadow: 25px 20px #d9caaf;
  font-family: Arial, Helvetica, sans-serif;
  color: saddlebrown;
  text-align: center;
}